importFrom("utils", "head", "read.table")
export(gorth)
export(gprofiler)
export(gconvert)
export(set_user_agent)
export(get_user_agent)
export(get_base_url)
export(set_base_url)
export(get_tls_version)
export(set_tls_version)
